/* Estilo Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
}

.Cadastros {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.form-containercadastro {
    flex: 1;
    margin: 0 10px;
}

/* Estilo dos formulários */
form {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    max-width: 400px; /* Definindo uma largura máxima para o formulário */
    background-color: rgba(204, 204, 204, 0.7); /* Fundo cinza com opacidade reduzida */
    border-radius: 10px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title1{
   font-size: 1.8em;
   margin-bottom: 10%;
}

form label {
    display: block;
    margin-top: 20px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form button {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.8em;
}

form button {
    background-color: #160358;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #160358;
}

/* Estilo dos títulos */
h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
